@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  position: relative;
}
.active {
  background-color: rgb(255, 115, 0);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}

.backdrop {
  background-image: url("/images/login.webp");
  height: 100vh;
background-size: cover;
}

.password_bg {
  background-image: url("/images/rest_password.webp");
  background-size: cover;
}

.web-Nav-active {
  background-color: black;
  border-radius: 5rem;
  padding: 0.4rem;
  padding-inline: 1rem;
  color: white;
}
input:focus-visible{
  outline: none;
}

.signup_img {
  background-image: url("/images/signup.jpg");
  background-size: cover;
}